<div class="row">
  <h3>
    /<a [routerLink]="['/sink', ns, task, stream]"><strong>sink</strong></a>/<a
    [routerLink]="['/ns']">{{ns}}</a>/<a
    [routerLink]="['/task', ns]">{{task}}</a>/<a
    [routerLink]="['/stream', ns, task]">{{stream}}</a>/{{key}}
  </h3>
</div>
<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">

    <div class="form-group">
      <label for="category" class="col-sm-2 control-label">category</label>
      <select class="form-control" id="category" (change)="categoryChange($event)">
        <option value="kafka">kafka</option>
        <option value="dataSource">dataSource</option>
      </select>
    </div>
    <div *ngFor="let formItem of formItems">
      <df-form-item [formItem]="formItem" [form]="formGroup"></df-form-item>
    </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-1">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      <div class="col-sm-1">
        <span class="btn btn-info" (click)="preview()">preview</span>
      </div>
    </div>

    <div *ngIf="payLoad" class="form-group row">
      <strong>Saved the following values</strong><br>
      <pre>{{payLoad}}</pre>
    </div>
  </form>
</div>
